<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.sqlinject.Mapper.SqlMapper">

    <select id="SelectList" resultType="List">

        SELECT *
        FROM BC_HISTORY

    </select>

    <insert id="InsertList" parameterType="com.example.sqlinject.domain.Domain">
        INSERT INTO BC_HISTORY(MSGID, REQDT, RESDT, PATCHTNUM, WORKID, WORKCATEGORY, REQID, REQIP)
        VALUES (#{MSGID},2,3,4,5,6,7,8)



    </insert>


</mapper>

